{
  "presets": [
    [
      "next/babel"
    ],
    [
      "@emotion/babel-preset-css-prop"
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@/components": "./src/components",
          "@/lib": "./src/lib",
          "@/features": "./src/features",
          "@/styles": "./src/styles",
          "@/types": "./src/types",
          "@/tests": "./tests"
        }
      }
    ]
  ]
}
